@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');

h1{
    font-family: 'Rum Raisin', sans-serif;
}

body{
    background-image: url('../odin-recipes/images/background.jpg'); /* INSERISCI PRIMA "../" POI PREMI SU INVIO PER SELEZIONARE I PERCORSI */ 
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: fixed;
}

a{
    text-decoration: none; /* TOLGO LA SOTTOLINEATURA AL LINK */
    color: #000;
}

ul{
    list-style-type: none; /* TOLGO I PALLINI DALLA LISTA */
    font-family: sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

li:hover a{
    color: #ff0000;
}


