@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#logo {
    width: 180px;
    cursor: pointer;
    margin-right: auto;
}

body {
    /* NECESSARIO PER UN BACKGROUND RESPONSIVE */
    background-image: url('../odin-recipes/images/background.jpg');
    /* INSERISCI PRIMA "../" POI PREMI SU INVIO PER SELEZIONARE I PERCORSI */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

a {
    text-decoration: none;
    /* TOLGO LA SOTTOLINEATURA AL LINK */
    color: #000;
}

ul {
    list-style-type: none;
    /* TOLGO I PALLINI DALLA LISTA */
    font-family: bold sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#central-txt {
    text-align: center;
    margin-top: 10%;
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 120px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #fff;
}

#navbar {
    position: fixed;
    /* IN QUESTO MODO HO FISSATO LA MIA NAVBAR */
}

/*
.subMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    margin-left: 50px;
    
    
}

.recipes{
    margin-top: 20px;
}
*/

#title{
    text-align: center;
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    letter-spacing: 1px;
}

#container{
    display: flex;
    align-items: center;
}

.img{
    width: 99%;
    cursor: pointer;

}

.child{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    width: 33.33%;
}

.link-recipes{
    color: #fff;
    margin-top: 20px;
    font-size: 25px;
}